{% extends 'base.html.twig' %}

{% block title %}Hello HomeController!{% endblock %}

{% block body %}

<section class="ce-main-container-show m-auto p-3 d-flex justify-content-center align-items-center flex-column h-50">
    <h1 class="ec-quaternary-color mt-5">Emmaüs Connect</h1>
    <h2 class="ec-primary-color mt-5">Générateur de prix</h2>
    <p class="mt-5">Calculons le juste prix de nos smartphones</p>
</section>


{% endblock %}
