<!-- Vertical navbar -->
<div class="vertical-nav" id="sidebar">
    <div class="py-4 px-3">
        <div class="media d-flex justify-content-center">
            <img src="{{ asset('/build/images/logo-emause.35e7cdeb.png') }}" alt="" id="ec-img-nav" >
        </div>
        {% if app.user %}
        <div class="nav-item">
                Bienvenue <br>{{ app.user.firstName }}
        </div>
        {% endif %}
    </div>

    <ul class="nav my-5 sm-mb_3" id="ec-li-nav">
        <ul class="nav" id="ec-nav-link-new">
            <li class="nav-item">
                <a href="#" class="nav-link text-light font-italic"> <i class="fa-solid fa-plus text-light fa-fw"></i>
                    Nouvelle entrée </a>
            </li>
        </ul>
        <li class="nav-item">
            <a href="#" class="nav-link text-light font-italic"> <i
                        class="fa-solid fa-question text-light fa-fw"></i> FAQ</a>
        </li>
        {% if app.user %}
            {% if is_granted("ROLE_ADMIN") and app.user %}
                <li class="nav-item">
                    <a href="#" class="nav-link text-light font-italic">
                        <i class="fa-solid fa-gear text-light fa-fw"></i> Administration </a>
                </li>
            {% endif %}
            <li class="nav-item">
                <a href="#" class="nav-link text-light font-italic">
                    <i class="fa-solid fa-right-from-bracket text-light fa-fw"></i> Déconnexion </a>
            </li>
        {% endif %}
        <li class="nav-item">
            <a href="#" class="nav-link text-light font-italic">
                <i class="fa-solid fa-right-to-bracket text-light fa-fw"></i>Connexion</a>
        </li>
    </ul>
</div><!-- End vertical navbar -->

<div class="page-content p-3" id="content">
    <!-- Toggle button -->
    <button id="sidebarCollapse" type="button" class="btn btn-light bg-white shadow-sm px-4 mb-4">
        <i class="fa fa-bars"></i></button>
</div>
