{% extends 'base.html.twig' %}

{% block title %}Reset your password{% endblock %}

{% block body %}
<div class=" ce-container-login container d-flex flex-column justify-content-center align-items-center ">

{% for flash_error in app.flashes('reset_password_error') %}
        <div class="alert alert-danger" role="alert">{{ flash_error }}</div>
    {% endfor %}
    <h1>Reset your password</h1>

    {{ form_start(requestForm,{ 'attr': { 'class': 'ce-form-login p-4 w-25 my-5 d-flex justify-content-center
    flex-column '} }) }}
        {{ form_row(requestForm.email, {'label_attr': {'class': 'sr-only'},'attr':{'class' : 'ema-input-main p-2w-100','placeholder':'Entrez votre adresse mail...'}}) }}
        <div>
            <small>
                Saisissez votre adresse e-mail et nous vous enverrons un lien pour réinitialiser votre mot de passe.
            </small>
        </div>

        <button class="ec-secondary-button m-auto p-2 w-75">Envoyer le mail de réinitialisation </button>
    {{ form_end(requestForm) }}
</div>
{% endblock %}
