{% extends 'base.html.twig' %}

{% block title %}Reset your password{% endblock %}

{% block body %}
<div style="width: 82vw; min-height: 80vh" id="ec-background">

<div class=" ce-container-login container d-flex justify-content-center align-items-center ">

    <h1>Reset your password</h1>

        {{ form_start(resetForm), {'attr': {'class': 'ce-form-login p-4 w-25 m-auto d-flex justify-content-center flex-column '}} }}

            <button class="btn btn-primary">Reset password</button>
        {{ form_end(resetForm) }}
</div>
</div>
{% endblock %}
