{% extends '@!EasyAdmin/page/content.html.twig' %}

{% block main %}
    <h1>Welcome to your dashboard!</h1>

    <p>This is here that you can modify, add or delete criterias of calculation for the price of smartphones.</p>
    <ul>
        <li>Checkout the links to Memory, Storage, Age and Category</li>
    </ul>
    <p>On this dashboard, you may also:</p>
    <ul>
        <li>Register a new volunteer, edit or delete their account</li>
        <li>Add, edit or delete a smartphone in the database</li>
    </ul>
    <p>Be careful! These changes will affect your organisation, use this dashboard with caution.</p>
{% endblock %}