.vertical-nav {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  min-width: 17rem;
  width: 17rem;
  height: 100vh;
  position: fixed;
  top: 0;
  left: 0;
  box-shadow: 3px 3px 10px rgba(0, 0, 0, 0.1);
  transition: all 0.4s;
  background-color: $primary-color!important;
}
#ec-nav-link-new {
  margin-top: 50px;
}
#ec-img-nav {
  width: 85px;
  height: 85px;
}
#ec-li-nav {
  display: flex;
  flex-direction: column;
}
#content{
  visibility: hidden;
}

@media screen and (max-width: 768px) {
  .vertical-nav {
    width: 100%;
    height: 12rem;
    flex-direction: row;
  }
  #ec-img-nav {
    width: 45px;
    height: 45px;
  }
  #sidebar {
    margin-top: -12rem;
    display: flex;
  }
  #sidebar.active {
    margin-top: 0;
  }
  #content {
    width: 100%;
    margin-top: -15rem;
    visibility: visible;
  }
  #content.active {
    margin-top: -9rem;
    width: calc(100% - 17rem);
  }
  #ec-nav-link-new {
    margin-top: 10px;
  }
  #ec-li-nav {
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    align-items: flex-end;
    width: 80%;
    margin-bottom: 0!important;
    margin-top: 0!important;
  }
}


