@import "~bootstrap";
@import "_includes/variables";
@import "_includes/inputs";
@import "_includes/buttons";
@import "_includes/show_smartphone";
@import "modules/navbar";
@import "_includes/login";
@import "modules/smartphoneNew";

*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: $font-family;
}
a{
    text-decoration: none;
}
body{
    background-image: url("../images/LogoEmmausConnect.png");
    background-repeat: no-repeat;
    background-position: center;
    background-size: 45%;
}

